*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Project exclude paths
/feature/bluetooth/api/build/
/feature/bluetooth/impl/build/
/feature/radio/api/build/
/feature/radio/impl/build/
/feature/wifi/api/build/
/feature/wifi/impl/build/
/scanner/bluetooth/api/build/
/scanner/bluetooth/impl/build/
/scanner/radio/api/build/
/scanner/radio/impl/build/
/scanner/wifi/api/build/
/scanner/wifi/impl/build/